<th:block th:fragment="default(route)">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragments/common.html :: meta}"></th:block>
    <th:block th:insert="~{fragments/common.html :: styles}"></th:block>
    <th:block th:insert="~{fragments/common.html :: title(${route})}"></th:block>
</head>

<body>

<div class="container-fluid">
<div class="row row-cols-1 sticky-top">
    <div class="col">
        <br>
        <a th:href="@{/logout}">logout</a>
        <br>
    </div>
</div>
<div class="row row-cols-1">
    <div class="col">
        <h2 th::text="'Admin for '+${firmname}">Admin</h2>
    </div>
</div>
<div class="row row-cols-2">
    <div class="col col col-md-3">
        <p th:switch="${route}">
            <th:block th:case="fermlist">
                <th:block th:insert="~{content/firmadmin_content.html :: menu(${route})}"></th:block>
            </th:block>    
        </p>
    </div>
    <div class="col">
            <p th:switch="${route}">
                <th:block th:case="fermlist">
                    <th:block th:insert="~{content/firmadmin_content.html :: fermlist_content}"></th:block>
                </th:block>    
                <th:block th:case="addferm">
                    <th:block th:insert="~{content/firmadmin_content.html :: addferm(${route})}"></th:block>
                </th:block>    
            </p>
        
    </div>
</div>
<div class="row row-cols-1 fixed-bottom">
    <div class="col">
        FOOTER
    </div>
</div>
</div>

</body>
<th:block th:insert="~{fragments/common.html :: script}"></th:block>
</html>
</th:block>


