<th:block th:fragment="default(route)">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragments/meta.html :: meta}"></th:block>
    <th:block th:insert="~{fragments/styles.html :: styles}"></th:block>
    <th:block th:insert="~{fragments/title.html :: title(${route})}"></th:block>
</head>

<body>

<div class="container-fluid">
<div class="row row-cols-1 sticky-top">
    <div class="col">
        <br>
        <a th:href="@{/logout}">logout</a>
        <br>
    </div>
</div>
<div class="row row-cols-1">
    <div class="col">
        <h3  th:text = "|Администрирование организации «${firmname}»|" >Admin</h3>
        <h4 th:text = "${errorMessage}" class="text-danger"> Error</h4>
    </div>
</div>
<div class="row row-cols-2">
    <div class="col col col-md-3">
        <th:block th:insert="~{content/firmadmin_menu.html :: menu(${route})}"></th:block>
        <!-- <p th:switch="${route}">
            <th:block th:case="fermlist">
                <th:block th:insert="~{content/firmadmin_menu.html :: menu(${route})}"></th:block>
            </th:block>    
            <th:block th:case="addferm">
                <th:block th:insert="~{content/firmadmin_menu.html :: menu(${route})}"></th:block>
            </th:block>    
            <th:block th:case="editferm">
                <th:block th:insert="~{content/firmadmin_menu.html :: menu(${route})}"></th:block>
            </th:block>    
            <th:block th:case="delferm">
                <th:block th:insert="~{content/firmadmin_menu.html :: menu(${route})}"></th:block>
            </th:block>    
        </p> -->
    </div>
    <div class="col">
            <p th:switch="${route}">
                <th:block th:case="fermlist">
                    <th:block th:insert="~{content/firmadmin_content.html :: fermlist}"></th:block>
                </th:block>    
                <th:block th:case="addferm">
                    <th:block th:insert="~{content/firmadmin_content.html :: addferm(${route})}"></th:block>
                </th:block>    
                <th:block th:case="editferm">
                    <th:block th:insert="~{content/firmadmin_content.html :: addferm(${route})}"></th:block>
                </th:block>    
                <th:block th:case="delferm">
                    <th:block th:insert="~{content/firmadmin_content.html :: delferm}"></th:block>
                </th:block>    
                <th:block th:case="userlist">
                    <th:block th:insert="~{content/firmadmin_content.html :: userlist(${route})}"></th:block>
                </th:block>    
                <th:block th:case="adduser">
                    <th:block th:insert="~{content/firmadmin_content.html :: addfirmuser}"></th:block>
                </th:block>    
                <th:block th:case="edituser">
                    <th:block th:insert="~{content/firmadmin_content.html :: editfirmuser}"></th:block>
                </th:block>    
                <th:block th:case="deluser">
                    <th:block th:insert="~{content/firmadmin_content.html :: delfirmuser}"></th:block>
                </th:block>    
                <th:block th:case="edituserroles">
                    <th:block th:replace="~{content/firmadmin_content.html :: edituserroles}"></th:block>
                </th:block>    
                <th:block th:case="resetpassuser">
                    <th:block th:replace="~{content/firmadmin_content.html :: resetpassuser}"></th:block>
                </th:block>    
            </p>
        
    </div>
</div>
<div class="row row-cols-1 fixed-bottom">
    <div class="col">
        <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
</div>
</div>

</body>
<th:block th:insert="~{fragments/scripts.html :: script}"></th:block>
</html>
</th:block>




