<th:block th:fragment="default(route)">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/common.html :: meta"></th:block>
    <th:block th:insert="fragments/common.html :: styles"></th:block>
    <th:block th:insert="fragments/common.html :: title(${route})"></th:block>
</head>

<body>

<div class="container-fluid">
<div class="row row-cols-1 sticky-top">
    <div class="col">
        <br>
        <a href="/logout">logout</a>
        <br>
    </div>
</div>
<div class="row row-cols-1">
    <div class="col">
        <h2>Super Admin Page</h2>
    </div>
</div>
<div class="row row-cols-2">
    <div class="col col col-md-3">
        <p th:switch="${route}">
            <th:block th:case="adminlist">
                <th:block th:insert="content/superadmin_content.html :: sa_admins_menu(${route})"></th:block>
            </th:block>    
            <th:block th:case="addadmin">
                <th:block th:insert="content/superadmin_content.html :: sa_admins_menu(${route})"></th:block>
            </th:block>    
            <th:block th:case="editadmin">
                <th:block th:insert="content/superadmin_content.html :: sa_admins_menu(${route})"></th:block>
            </th:block>    
            <th:block th:case="*">
                <th:block th:insert="content/superadmin_content.html :: sa_menu(${route})"></th:block>
            </th:block>    
        </p>
    </div>
    <div class="col">
            <p th:switch="${route}">
                <th:block th:case="list">
                    <th:block th:insert="content/superadmin_content.html :: list_content"></th:block>
                </th:block>    
                <th:block th:case="addfirm">
                    <th:block th:insert="content/superadmin_content.html :: add_firm('addfirm')"></th:block>
                </th:block>    
                <th:block th:case="editfirm">
                    <th:block th:insert="content/superadmin_content.html :: add_firm('editfirm')"></th:block>
                </th:block>    
                <th:block th:case="delfirm">
                    <th:block th:insert="content/superadmin_content.html :: del_firm"></th:block>
                </th:block>    
                <th:block th:case="adminlist">
                    <th:block th:insert="content/superadmin_content.html :: admin_list"></th:block>
                </th:block>    
                <th:block th:case="addadmin">
                    <th:block th:insert="content/superadmin_content.html :: add_admin('addadmin')"></th:block>
                </th:block>    
                <th:block th:case="editadmin">
                    <th:block th:insert="content/superadmin_content.html :: add_admin('editadmin')"></th:block>
                </th:block>    
                <th:block th:case="deladmin">
                    <th:block th:insert="content/superadmin_content.html :: del_admin"></th:block>
                </th:block>    
            </p>
        
    </div>
</div>
<div class="row row-cols-1 fixed-bottom">
    <div class="col">
        FOOTER
    </div>
</div>
</div>

</body>
<th:block th:insert="fragments/common.html :: script"></th:block>
</html>
</th:block>


