<th:block th:fragment="realsadoklist">
    <table class="table">
        <thead>
            <tr>
                <th width="10%">№</th>
                <th width="60%">Информация</th>
                <th width="30%">Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rsadok:${rsadoks}">
                <td th:text="${rsadok.name}"></td>
                <td th:utext="${rsadok.description+'<br>Садков: '+ferm.virtualSadoks.size()}"></td>

                <td>
                    <div class="action">
                        <div class="action-btn">
                            <a th:href="@{/ferm/editrsadok/{id}(id=${rsadok.id})}">
                                <i class="far fa-edit text-success" title="Редактировать"></i>
                                </a>
                        </div>
                        <div class="action-btn">
                            <a th:href="@{/ferm/vsadokslist/{id}(id=${rsadok.id})}"><i
                                    class="fas fa-water text-primary" title="Садки"></i></a>
                        </div>
                        <div class="action-btn">
                            <a th:href="@{/ferm/delrsadok/{id}(id=${rsadok.id})}">
                                <i class="far fa-trash-alt text-danger" title="Удалить"></i></a>
                        </div>
               
                    </div>
                </td>
            </tr>


        </tbody>
    </table>
</th:block>

<th:block th:fragment="userlist(route)">
    <table class="table">
        <thead>
            <tr>
                <th width="5%">№</th>
                <th width="45%">Информация</th>
                <th width="30%">Роли</th>
                <th width="20%">Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${users}">
                <td th:text="${userStat.count}"></td>
                <td th:utext="${user.getUsername()}+((${user.getComment()}!='')?('<br>'+${user.getComment()}):'')+((${user.getEmail()}!='')?('<br>'+${user.getEmail()}):'')+'<br>'+( (${user.active})? 'Активен' : 'Заблокирован')">

                </td>
                <td>

                 <ul th:each="role:${user.getRoles()}">
                    <li th:text="${role.getComment()}"></li>
                 </ul>   
                </td>
                <td>
                    <div class="action">
                        <div class="action-btn">
                            <a th:href="@{/firmadmin/edituser/{id}(id=${user.getId()})}">
                                <i class="far fa-edit text-success" title="Редактировать"></i>
                                <!-- <i class="fa fa-edit text-success" title="Редактировать"></i> -->
                            </a>
                        </div>
                        <div class="action-btn">
                            <a th:href="@{/firmadmin/edituserroles/{id}(id=${user.getId()})}">
                            <i class="far fa-id-card text-primary" title="Роли"></i>
                            </a>
                        </div>
                        <div class="action-btn">
                            <a th:href="@{/firmadmin/resetpass/{id}(id=${user.getId()})}">
                                <i class="fas fa-user-lock text-warning" title="Сбросить пароль"></i>
                            </a>
                        </div>
                        <div class="action-btn">
                            <a th:href="@{/firmadmin/deluser/{id}(id=${user.getId()})}">
                            <i class="far fa-trash-alt text-danger" title="Удалить"></i>
                                <!-- <i class="fa fa-times text-danger" title="Удалить"></i> -->
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</th:block>


<th:block th:fragment="addferm(route)">
    <form method="POST" th:object="${ferm}" th:action="@{/firmadmin/saveferm}">
        <div class="form-header" th:if="${route == 'addferm'}">
            <h3>Добавление фермы</h3>
        </div>
        <div class="form-header" th:if="${route == 'editferm'}">
            <h3>Редактирование фермы</h3>
        </div>
        <input type="hidden" class="form-control" name="id" th:field="*{id}" />
        <input type="hidden" class="form-control" name="firmId" th:field="*{firmId}" />
        <div class="form-row">
            <label for="name" class="form-label">Наименование</label>
            <input type="text" class="form-control" name="name" th:field="*{name}" />
        </div>

        <br>
        <hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
</th:block>

<th:block th:fragment="delfirmuser">
    <form method="POST" th:object="${user}" th:action="@{/firmadmin/deluser}">
        <div class="form-header">
            <h5>Удаление пользователя</h5>
        </div>
        <input type="hidden" class="form-control" name="id" th:field="*{id}" />
        <div class="form-row">
            <label for="username" class="form-label">Логин</label>
            <input type="text" class="form-control" name="username" th:field="*{username}" readonly />
        </div>
        <div class="form-row">
            <label for="descr" class="form-label">Информация</label>
            <input type="text" class="form-control" name="comment" th:field="*{comment}" readonly />
        </div>

        <br>
        <hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>
</th:block>

<th:block th:fragment="editfirmuser">
    <form method="POST" th:action="@{/firmadmin/saveuser}" th:object="${user}">
        <div class="form-header" th:utext="|<h5>Редактирование пользователя *{username}</h5>|"></div>
        <input type="hidden" class="form-control" th:field ="*{id}"/>
        
        <div class="form-row">
            <label for="comment" class="form-label">ФИО</label>
            <input type="text" class="form-control" th:field ="*{comment}"/>
        </div>

        <div class="form-row">
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-control"  th:field ="*{email}"/>
        </div>

        <div class="form-row">
            <label for="active" class="form-label">Active</label>
            <input type="checkbox" class="form-control form-check-input" th:field ="*{active}" th:checked ="*{active}"/>
        </div>

        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
</th:block>


<th:block th:fragment="addfirmuser">
    <form method="POST" th:action="@{/firmadmin/savenewuser}" th:object="${user}">
        <div class="form-header"><h5>Добавление пользователя</h5></div>
        <input type="hidden" class="form-control" name="firmId" th:field ="*{firmId}"/>
        
        <div class="form-row">
            <label for="shortname" class="form-label">Логин</label>
            <input type="text" class="form-control" th:field ="*{username}"/>
        </div>
        
        <div class="form-row">
            <label for="comment" class="form-label">ФИО</label>
            <input type="text" class="form-control" th:field ="*{comment}"/>
        </div>

        <div class="form-row">
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-control" th:field ="*{email}"/>
        </div>

        <div class="form-row">
            <label for="inn" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="pass1" name="pass1" th:value ="${pass1}"/>
        </div>

        <div class="form-row">
            <label for="address" class="form-label" >Пароль еще раз</label>
            <input type="password" class="form-control" id="pass2" name="pass2" th:value ="${pass2}"/>
        </div>
        <div class="form-row">
            <label for="active" class="form-label">Active</label>
            <input type="checkbox" class="form-control form-check-input" th:field ="*{active}" th:checked ="*{active}"/>
        </div>

     
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
</th:block>


<th:block th:fragment="edituserroles">
    <form method="POST" th:action="@{/firmadmin/saveuserroles}" th:object="${rhelper}">
        <div class="form-header" th:utext="|<h5>Роли пользователя *{username}</h5>|"></div>
        <input type="hidden" class="form-control" th:field ="*{userid}"/>
       
        <div class="form-row">
            <ul th:each="role:*{roles}" >
            <li>
            <input type="hidden" class="form-control" id="roles" th:name="|roles[${roleStat.index}].id|" th:value ="${role.id}"/>
            <input type="hidden" class="form-control" id="roles" th:name="|roles[${roleStat.index}].name|" th:value ="${role.name}"/>
            <input type="checkbox" class="form-control form-check-input" id="roles" th:name="|roles[${roleStat.index}].hasRole|" th:checked ="${role.hasRole}"/>
            <label th:for="|roles[${roleStat.index}].hasRole|" class="form-label" th:text="${role.comment}">comment</label> 
            </li>    
            </ul>
        </div>

        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
</th:block>


<th:block th:fragment="resetpassuser">
    <form method="POST" th:action="@{/firmadmin/resetpass}" th:object="${uhelper}">
        <div class="form-header" ><h5>Сброс пароля админа</h5></div>
        <input type="hidden" class="form-control" name="id" th:field ="*{id}"/>
        <div class="form-row">
            <label for="username" class="form-label">Логин</label>
            <input type="text" class="form-control" name="username" th:field ="*{username}" readonly/>
        </div>
        <div class="form-row">
            <label for="inn" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="pass1" th:field ="*{pass1}"/>
        </div>
        <div class="form-row">
            <label for="address" class="form-label">Пароль еще раз</label>
            <input type="password" class="form-control" name="pass2" th:field ="*{pass2}"/>
        </div>
        
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
</th:block>