<th:block th:fragment="menu(route)">
    <div class="menu">
        <i class="fas fa-water text-primary"></i> <em> Ферма</em>
        <ul>
            <!-- <li th:unless="${route == 'fermlist'}">
                <a th:href="@{/firmadmin}" >Список ферм</a>
            </li>
            <li th:unless="${route == 'userlist'}">
                <a th:href="@{/firmadmin/userlist}">Пользователи</a>
            </li>
            <li th:unless="${route == 'addferm'}">
                <a th:href="@{/firmadmin/addferm}">Создать ферму</a>
            </li>
            <li th:unless="${route == 'adduser'}">
                <a th:href="@{/firmadmin/adduser}">Создать пользоватея</a>
            </li> -->
       </ul>
    </div>
</th:block>

