

<th:block th:fragment="fermlist_content">
    <table class="table">
        <thead>
            <tr>
                <th width="70%">Информация</th>
                <th width="30%">Действия</th>
            </tr>
        </thead>
        <tbody>
                <tr th:each="ferm:${ferms}">
                    <td th:utext="${ferm.getName()+'<br>Садков: '+ferm.getRealSadok.size()}"></td>
                    
                    <td>
                        <div class="action">
                            <div class="action-btn">
                                <a th:href="@{/firmadmin/editferm/{id}(id=${ferm.getId()})}"><i class="fas fa-edit text-success" title="Редактировать"></i></a>
                            </div>
                            <div class="action-btn">
                                <a th:href="@{/firmadmin/adminslist/{id}(id=${ferm.getId()})}"><i class="fas fa-universal-access text-primary" title="Админы"></i></a>
                            </div>
                            <div class="action-btn">
                                <a th:href="@{/firmadmin/delferm/{id}(id=${ferm.getId()})}"><i class="fas fa-times text-danger" title="Удалить"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
        

        </tbody>
    </table>
</th:block>

<th:block th:fragment="addferm(route)">
    <form method="POST" th:object="${ferm}" th:action="@{/firmadmin/saveferm}">
        <div class="form-header" th:if="${route == 'addferm'}"><h3>Добавление фермы</h3></div>
        <div class="form-header" th:if="${route == 'editferm'}"><h3>Редактирование фермы</h3></div>
        <input type="hidden" class="form-control" name="id" th:field ="*{id}"/>
        <input type="hidden" class="form-control" name="firmId" th:field ="*{firmId}"/>
        <div class="form-row">
            <label for="name" class="form-label">Наименование</label>
            <input type="text" class="form-control" name="name" th:field ="*{name}"/>
        </div>
        
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">OK</button>
            <button type="reset" class="btn btn-outline-secondary">Очистить</button>
        </div>
    </form>
</th:block>


<th:block th:fragment="del_firm">
    <form method="POST" th:object="${firm}" th:action="@{/superadmin/delfirm}">
        <div class="form-header"><h3>Удаление организации</h3></div>
        <input type="hidden" class="form-control" name="id" th:field ="*{id}"/>
        <div class="form-row">
            <label for="shortname" class="form-label">Наименование</label>
            <input type="text" class="form-control" name="shortname" th:field ="*{shortname}" disabled/>
        </div>
        <div class="form-row">
            <label for="inn" class="form-label">ИНН</label>
            <input type="text" class="form-control" name="inn" th:field ="*{inn}" disabled/>
        </div>
        <div class="form-row">
            <label for="address" class="form-label">Адрес</label>
            <input type="text" class="form-control" name="address" th:field ="*{address}" disabled/>
        </div>
        <div class="form-row">
            <label for="fullname" class="form-label">Полное наименование</label>
            <input type="text" class="form-control" name="fullname" th:field ="*{fullname}" disabled/>
        </div>
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>
</th:block>



<th:block th:fragment="menu(route)">
    <div class="menu">
        <em><i class="fas fa-square-o"></i> Фермы</em>
        <ul>
            <li>
                <a class="active" th:if="${route == 'fermlist'}">Список</a>
                <a th:href="@{/fermadmin}" th:unless="${route == 'fermlist'}">Список</a>
            </li>
            <li>
                <a class="active" th:if="${route == 'seek'}">Поиск</a>
                <a th:href="@{/}" th:unless="${route == 'seek'}">Поиск</a>
            </li>
            <li>
                <a class="active" th:if="${route == 'addfirm'}">Создать</a>
                <a th:href="@{/firmadmin/addferm}" th:unless="${route == 'addferm'}">Создать</a>
            </li>
        </ul>
    </div>
</th:block>



<th:block th:fragment="admin_list">
    <table class="table">
        <thead>
            <tr>
                <th width="50%">Информация</th>
                <th width="50%">Действия</th>
            </tr>
        </thead>
        <tbody>
                <tr th:each="user:${admins}">
                    <td th:text="${user.getUsername()}"></td>
                 <td>
                        <div class="action">
                            <div class="action-btn">
                                <a th:href="@{/superadmin/editadmin/{firmid}/{id}(firmid=${firmid},id=${user.getId()})}"><i class="fas fa-edit text-success" title="Редактировать"></i></a>
                            </div>
                            <div class="action-btn">
                                <a th:href="@{/superadmin/deleteadmin/{firmid}/{id}(firmid=${firmid},id=${user.getId()})}"><i class="fas fa-times text-danger" title="Удалить"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
        

        </tbody>
    </table>
</th:block>


<th:block th:fragment="add_admin(route)">
    <form method="POST" th:action="@{/superadmin/saveadmin}" th:object="${admin}">
        <div class="form-header" th:if="${route == 'addadmin'}"><h3>Добавление админа</h3></div>
        <div class="form-header" th:if="${route == 'editadmin'}"><h3>Сброс пароля админа</h3></div>
        <input type="hidden" class="form-control" name="id" th:field ="*{id}"/>
        <input type="hidden" class="form-control" name="firmid" th:field ="*{firmid}"/>
        <div class="form-row">
            <label for="shortname" class="form-label">Логин</label>
            <input type="text" th:if="${route == 'addadmin'}" class="form-control" name="shortname" th:field ="*{username}"/>
            <input type="text" th:unless="${route == 'addadmin'}" class="form-control" name="shortname" th:field ="*{username}" readonly/>
        </div>
        <div class="form-row">
            <label for="inn" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="pass1" th:field ="*{pass1}"/>
        </div>
        <div class="form-row">
            <label for="address" class="form-label">Пароль еще раз</label>
            <input type="password" class="form-control" name="pass2" th:field ="*{pass2}"/>
        </div>
        
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
</th:block>

<th:block th:fragment="del_admin">
    <form method="POST" th:action="@{/superadmin/deleteadmin}" th:object="${admin}">
        <div class="form-header"><h3>Удаление админа</h3></div>
        <input type="hidden" class="form-control" name="id" th:field ="*{id}"/>
        <input type="hidden" class="form-control" name="firmid" th:field ="*{firmid}"/>
        <div class="form-row">
            <label for="shortname" class="form-label">Логин</label>
            <input type="text" th:if="${route == 'addadmin'}" class="form-control" name="shortname" th:field ="*{username}"/>
            <input type="text" th:unless="${route == 'addadmin'}" class="form-control" name="shortname" th:field ="*{username}" readonly/>
        </div>
                
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>
</th:block>