

<th:block th:fragment="list_content">
    <table class="table">
        <thead>
            <tr>
                <th width="15%">Наименование</th>
                <th width="15%">ИНН</th>
                <th width="50%">Информация</th>
                <th width="20%">Действия</th>
            </tr>
        </thead>
        <tbody>
                <tr th:each="firm:${firms}">
                    <td th:text="${firm.getShortname()}"></td>
                    <td th:text="${firm.getInn()}"></td>
                    <td th:utext="${firm.getFullname()+'<br>Пользователей: '+firm.getUsers().size()+'<br>Ферм: ' + firm.getFerms().size()}"></td>
                    <td>
                        <div class="action">
                            <div class="action-btn">
                                <a th:href="@{/superadmin/editfirm/{id}(id=${firm.getId()})}"><i class="fas fa-edit text-success" title="Редактировать"></i></a>
                            </div>
                            <div class="action-btn">
                                <a th:href="@{/superadmin/adminslist/{id}(id=${firm.getId()})}"><i class="fas fa-universal-access text-primary" title="Админы"></i></a>
                            </div>
                            <div class="action-btn">
                                <a th:href="@{/superadmin/delfirm/{id}(id=${firm.getId()})}"><i class="fas fa-times text-danger" title="Удалить"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
        

        </tbody>
    </table>
</th:block>

<th:block th:fragment="add_firm(route)">
    <form method="POST" th:object="${firm}" th:action="@{/superadmin/savefirm}">
        <div class="form-header" th:if="${route == 'addfirm'}"><h3>Добавление организации</h3></div>
        <div class="form-header" th:if="${route == 'editfirm'}"><h3>Редактирование организации</h3></div>
        <input type="hidden" class="form-control" name="id" th:field ="*{id}"/>
        <div class="form-row">
            <label for="shortname" class="form-label">Наименование</label>
            <input type="text" class="form-control" name="shortname" th:field ="*{shortname}"/>
        </div>
        <div class="form-row">
            <label for="inn" class="form-label">ИНН</label>
            <input type="text" class="form-control" name="inn" th:field ="*{inn}"/>
        </div>
        <div class="form-row">
            <label for="address" class="form-label">Адрес</label>
            <input type="text" class="form-control" name="address" th:field ="*{address}"/>
        </div>
        <div class="form-row">
            <label for="fullname" class="form-label">Полное наименование</label>
            <input type="text" class="form-control" name="fullname" th:field ="*{fullname}"/>
        </div>
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">OK</button>
            <button type="reset" class="btn btn-outline-secondary">Очистить</button>
        </div>
    </form>
</th:block>


<th:block th:fragment="del_firm">
    <form method="POST" th:object="${firm}" th:action="@{/superadmin/delfirm}">
        <div class="form-header"><h3>Удаление организации</h3></div>
        <input type="hidden" class="form-control" name="id" th:field ="*{id}"/>
        <div class="form-row">
            <label for="shortname" class="form-label">Наименование</label>
            <input type="text" class="form-control" name="shortname" th:field ="*{shortname}" disabled/>
        </div>
        <div class="form-row">
            <label for="inn" class="form-label">ИНН</label>
            <input type="text" class="form-control" name="inn" th:field ="*{inn}" disabled/>
        </div>
        <div class="form-row">
            <label for="address" class="form-label">Адрес</label>
            <input type="text" class="form-control" name="address" th:field ="*{address}" disabled/>
        </div>
        <div class="form-row">
            <label for="fullname" class="form-label">Полное наименование</label>
            <input type="text" class="form-control" name="fullname" th:field ="*{fullname}" disabled/>
        </div>
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>
</th:block>

<th:block th:fragment="admin_list">
    <table class="table">
        <thead>
            <tr>
                <th width="50%">Информация</th>
                <th width="50%">Действия</th>
            </tr>
        </thead>
        <tbody>
                <tr th:each="user:${admins}">
                    <td th:text="${user.getUsername()}"></td>
                 <td>
                        <div class="action">
                            <div class="action-btn">
                                <a th:href="@{/superadmin/editadmin/{firmid}/{id}(firmid=${firmid},id=${user.getId()})}"><i class="fas fa-edit text-success" title="Редактировать"></i></a>
                            </div>
                            <div class="action-btn">
                                <a th:href="@{/superadmin/deleteadmin/{firmid}/{id}(firmid=${firmid},id=${user.getId()})}"><i class="fas fa-times text-danger" title="Удалить"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
        

        </tbody>
    </table>
</th:block>


<th:block th:fragment="add_admin(route)">
    <form method="POST" th:action="@{/superadmin/saveadmin}" th:object="${admin}">
        <div class="form-header" th:if="${route == 'addadmin'}"><h3>Добавление админа</h3></div>
        <div class="form-header" th:if="${route == 'editadmin'}"><h3>Сброс пароля админа</h3></div>
        <input type="hidden" class="form-control" name="id" th:field ="*{id}"/>
        <input type="hidden" class="form-control" name="firmId" th:field ="*{firmId}"/>
        <div class="form-row">
            <label for="shortname" class="form-label">Логин</label>
            <input type="text" th:if="${route == 'addadmin'}" class="form-control" name="shortname" th:field ="*{username}"/>
            <input type="text" th:unless="${route == 'addadmin'}" class="form-control" name="shortname" th:field ="*{username}" readonly/>
        </div>
        <div class="form-row">
            <label for="inn" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="pass1" th:field ="*{pass1}"/>
        </div>
        <div class="form-row">
            <label for="address" class="form-label">Пароль еще раз</label>
            <input type="password" class="form-control" name="pass2" th:field ="*{pass2}"/>
        </div>
        
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
</th:block>

<th:block th:fragment="del_admin">
    <form method="POST" th:action="@{/superadmin/deleteadmin}" th:object="${admin}">
        <div class="form-header"><h3>Удаление админа</h3></div>
        <input type="hidden" class="form-control" name="id" th:field ="*{id}"/>
        <input type="hidden" class="form-control" name="firmid" th:field ="*{firmid}"/>
        <div class="form-row">
            <label for="shortname" class="form-label">Логин</label>
            <input type="text" th:if="${route == 'addadmin'}" class="form-control" name="shortname" th:field ="*{username}"/>
            <input type="text" th:unless="${route == 'addadmin'}" class="form-control" name="shortname" th:field ="*{username}" readonly/>
        </div>
                
        <br><hr>
        <div class="form-row buttons">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>
</th:block>